@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fafafa;
    font-family: Trebuchet MS, Helvetica;
}

/* Site header */

header {
    width: 100%;
    padding: 0;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

header {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

}


header #logo span {
    font-size: 1.8em;
    line-height: 65px;
    font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        padding-left: 15px;
        padding-top: 12px;
        width: 30%;
        font-size: 1.1em;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.2em;
        text-align: left;
        padding-left: 15%;
    }
}



/* Responsive menu */
body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 12px;
    overflow: hidden;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 22px;
    line-height: 50px;

}

ul.topnav li a:hover {
    background-color: rgba(206, 212, 57, 1);
    background: transparent;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width: 680px) {
    ul.topnav li {
        display: none;
    }

    ul.topnav li.icon {
        float: center;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    ul.topnav.resposive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: relative;
        left: 0px;
        right: 0;
        top: 0;
    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* Fixed Hat Styles */

.fixed {
    z-index: 5000;
    background-color: rgba(12, 12, 12, 0.8);
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #fff;
}

.fixed #about a {
    color: #343434
}

.fixed #about a:hover {
    color: #7c7c7c
}

/* Main unit */

#top {
    width: 100%;
    background-image: url(https://99px.ru/sstorage/53/2017/12/tmb_214802_877578.jpg);
    background-blend-mode: multiply;
    background-color: #5f7c94;
    background-size: cover;
    text-align: center;
    color: #fff;
}

#top .my_img {
    border-radius: 80px;
    margin-top: 20px;

}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.5em;
        padding-top: 30%;
        height: 700px;
    }
}

@media (max-width: 450px) {
    #top {
        font-size: 1.4em;
    }
}

#top h1 {
    padding-top: 20%;
}

#top h3 {
    color: #ccc;
}

#top h1,
h3 {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    animation: blur .95s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

#top h1,
h3 {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}